<!-- Navbar -->
<header class="sticky top-0 z-50 bg-body-bg transition-all duration-300">
    <a href="#main-content" class="sr-only focus:not-sr-only focus:fixed focus:top-2 focus:left-2 focus:z-[100] focus:bg-white focus:text-default-950 focus:px-4 focus:py-2 focus:rounded-lg">Hoppa till innehåll</a>
    <div class="container">
        <div class="nav-sticky navbar md:py-6.5 py-5 flex items-center w-full justify-between">
            <a href="/" class="flex items-center">
                <img src="/images/logo-black.png" class="h-9 w-auto flex" alt="Effektiv Media">
            </a>

            <div id="navbar" class="mx-auto hidden lg:flex items-center justify-center">
                <a href="/" class="group flex items-center p-2.5 font-medium text-default-600 transition-all duration-300 hover:text-primary hover:decoration-current underline decoration-transparent underline-offset-3">
                    Hem
                </a>

                <div class="hs-dropdown relative inline-flex [--trigger:hover]">
                    <button type="button" class="hs-dropdown-toggle group flex items-center p-2.5 font-medium text-default-600 transition-all duration-300 hover:text-primary hover:decoration-current underline decoration-transparent underline-offset-3" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                        Tjänster
                        <i class="iconify tabler--chevron-down ms-3"></i>
                    </button>

                    <div class="hs-dropdown-menu hs-dropdown-open:opacity-100 mt-2 top-2.5! hidden w-60 rounded-xl border border-default-100 bg-linear-to-b from-default-100/90 to-default-100 p-1 opacity-0 transition-[opacity,margin] duration-300 before:absolute before:inset-s-0 before:-top-6 before:h-6 before:w-full after:absolute after:inset-s-0 after:-bottom-6 after:h-6 after:w-full" role="menu" aria-orientation="vertical">
                        <div class="p-2.5 rounded-lg border border-default-200 bg-white">
                            <div class="space-y-1">
                                <a href="/tjanster-seo-landningssidor" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">SEO &amp; Landningssidor</a>
                                <a href="/tjanster-hemsida" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Hemsida</a>
                                <a href="/tjanster-e-handel-shopify" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">E-handel via Shopify</a>
                                <a href="/tjanster-annonsering" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Betald annonsering</a>
                                <a href="/tjanster-juridik" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Effektiv Juridik</a>
                                <a href="/tjanster-signello" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Signello</a>
                                <a href="/tjanster-stampello" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Stampello</a>
                                <hr class="my-1 border-default-200">
                                <a href="/tjanster" class="block rounded-sm px-3 py-2 text-sm font-semibold text-primary">Alla tjänster</a>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="/leadsportalen" class="group flex items-center p-2.5 font-medium text-default-600 transition-all duration-300 hover:text-primary hover:decoration-current underline decoration-transparent underline-offset-3">
                    Leadsportalen
                </a>

                <a href="/om-oss" class="group flex items-center p-2.5 font-medium text-default-600 transition-all duration-300 hover:text-primary hover:decoration-current underline decoration-transparent underline-offset-3">
                    Om oss
                </a>

                <a href="/kontakt" class="group flex items-center p-2.5 font-medium text-default-600 transition-all duration-300 hover:text-primary hover:decoration-current underline decoration-transparent underline-offset-3">
                    Kontakta oss
                </a>
            </div>

            <div class="flex items-center justify-end gap-4">
                <a href="tel:0101822590" class="text-default-900 transition duration-300 hover:text-default-600 md:flex hidden">010 182 25 90</a>

                <div class="md:flex items-center hidden">
                    <a href="/kontakt" class="group py-2.5 px-4.5 inline-flex items-center justify-center gap-5 rounded-lg bg-primary font-medium text-white transition-all">
                        <span class="relative block overflow-hidden">
                            <span class="block group-hover:-translate-y-7 duration-[1.125s] ease-[cubic-bezier(0.19,1,0.22,1)]">
                                Boka demo
                            </span>
                            <span class="absolute top-7 inset-s-0 group-hover:top-0 duration-[1.125s] ease-[cubic-bezier(0.19,1,0.22,1)]">
                                Boka demo
                            </span>
                        </span>
                    </a>
                </div>

                <div class="flex items-center lg:hidden">
                    <button type="button" aria-haspopup="dialog" aria-expanded="false" aria-controls="mobile-menu" data-hs-overlay="#mobile-menu" class="inline-flex size-10 items-center justify-center rounded-md bg-primary text-white font-medium transition-all">
                        <i class="iconify tabler--align-right size-6"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div id="mobile-menu" class="hs-overlay hs-overlay-open:translate-y-0 hs-overlay-open:opacity-100 opacity-0 hs-overlay-open:top-auto [--body-scroll:true] fixed inset-x-0 top-0 z-40 h-100 -translate-y-full transform transition-all duration-500 lg:hidden" role="dialog" tabindex="-1" aria-labelledby="mobile-menu-label">
        <div class="container">
            <div class="bg-body-bg shadow border border-default-200 rounded-lg mb-4">
                <div class="flex max-h-100 flex-col gap-1 divide-y divide-default-200 overflow-y-auto">
                    <a href="/" class="group flex items-center p-2.5 font-medium text-default-600 transition-all duration-300 hover:text-primary hover:decoration-current underline decoration-transparent underline-offset-3">
                        Hem
                    </a>

                    <div class="hs-accordion">
                        <button type="button" class="hs-accordion-toggle w-full group flex items-center justify-between p-2.5 font-medium text-default-600 transition-all duration-300" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                            Tjänster
                            <i class="iconify tabler--chevron-down transition-all hs-accordion-active:rotate-180 ms-4"></i>
                        </button>

                        <div class="hs-accordion-content hidden w-full overflow-hidden ps-5 pb-4 transition-[height]">
                            <div class="space-y-1">
                                <a href="/tjanster-seo-landningssidor" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">SEO &amp; Landningssidor</a>
                                <a href="/tjanster-hemsida" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Hemsida</a>
                                <a href="/tjanster-e-handel-shopify" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">E-handel via Shopify</a>
                                <a href="/tjanster-annonsering" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Betald annonsering</a>
                                <a href="/tjanster-juridik" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Effektiv Juridik</a>
                                <a href="/tjanster-signello" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Signello</a>
                                <a href="/tjanster-stampello" class="block rounded-sm px-3 py-2 text-sm font-semibold text-default-600 hover:bg-primary/6 hover:text-primary">Stampello</a>
                                <a href="/tjanster" class="block rounded-sm px-3 py-2 text-sm font-semibold text-primary">Alla tjänster</a>
                            </div>
                        </div>
                    </div>

                    <a href="/leadsportalen" class="group flex items-center p-2.5 font-medium text-default-600 transition-all duration-300 hover:text-primary hover:decoration-current underline decoration-transparent underline-offset-3">
                        Leadsportalen
                    </a>

                    <a href="/om-oss" class="group flex items-center p-2.5 font-medium text-default-600 transition-all duration-300 hover:text-primary hover:decoration-current underline decoration-transparent underline-offset-3">
                        Om oss
                    </a>

                    <a href="/kontakt" class="group flex items-center p-2.5 font-medium text-default-600 transition-all duration-300 hover:text-primary hover:decoration-current underline decoration-transparent underline-offset-3">
                        Kontakta oss
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
