    <!-- JS here -->
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/bootstrap-bundle.js"></script>
    <script src="/assets/js/swiper-bundle.js"></script>
    <script src="/assets/js/plugin.js"></script>
    <script src="/assets/js/slick.js"></script>
    <script src="/assets/js/scroll-magic.js"></script>
    <script src="/assets/js/hover-effect.umd.js"></script>
    <script src="/assets/js/magnific-popup.js"></script>
    <script src="/assets/js/parallax-slider.js"></script>
    <script src="/assets/js/nice-select.js"></script>
    <script src="/assets/js/purecounter.js"></script>
    <script src="/assets/js/Observer.min.js"></script>
    <script src="/assets/js/splitting.min.js"></script>
    <script src="/assets/js/parallax-scroll.js"></script>
    <script src="/assets/js/atropos.js"></script>
    <script src="/assets/js/slider-active.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/si-cursor.js"></script>
    <script src="/assets/js/custom.js"></script>
    <!-- JS here -->

</body>

</html>
